* {
    font-family: 'JetBrainsMono Nerd Font Mono';
}

#custom-battery {
    color: white;
}

#custom-battery.charging {
    color: #38ff00;
}

#custom-battery.warning:not(.charging) {
    color: #ebcb8b;  /* Yellow warning */
}

#custom-battery.critical:not(.charging) {
    color: #bf616a;  /* Red critical */
    animation: blink 0.5s linear infinite;
}
